In [71]:
import requests
import pandas as pd
from datetime import datetime
import pytz
import glob

In [29]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36"}
url = 'https://www.investing.com/currencies/usd-twd-historical-data'
response = requests.get(url, headers=headers)

In [14]:
dfs = pd.read_html(response.text)

In [24]:
df = dfs[0]

In [81]:
for name in glob.glob('*[0-9].*'): #get filenames contain digit
    print(name)
    currency_filename = name

output20210102.csv

In [83]:
currency_df = pd.read_csv(currency_filename)

In [39]:
currency_df

          Date   Price    Open    High     Low Change %
0   2020-12-24  28.106  28.151  28.174  28.098   -0.10%
1   2020-12-23  28.134  28.170  28.202  28.081   -0.01%
2   2020-12-22  28.137  28.154  28.219  28.127    0.00%
3   2020-12-21  28.137  28.170  28.287  28.123   -0.06%
4   2020-12-18  28.154  28.138  28.189  28.095    0.03%
5   2020-12-17  28.146  28.105  28.231  28.063    0.05%
6   2020-12-16  28.133  28.130  28.182  28.066    0.03%
7   2020-12-15  28.125  28.131  28.211  28.083    0.04%
8   2020-12-14  28.114  28.182  28.205  28.097   -0.22%
9   2020-12-11  28.177  28.200  28.340  28.126    0.01%
10  2020-12-10  28.175  28.268  28.276  28.184   -0.27%
11  2020-12-09  28.250  28.235  28.288  28.157    0.03%
12  2020-12-08  28.241  28.239  28.289  28.185    0.06%
13  2020-12-07  28.224  28.216  28.317  28.209    0.08%
14  2020-12-04  28.201  28.420  28.431  28.146   -0.74%
15  2020-12-03  28.412  28.512  28.542  28.250   -0.24%
16  2020-12-02  28.481  28.527  28.576  28.444   -0.11%

In [44]:
combined = pd.concat([df, currency_df])

In [48]:
 combined['Date'] = pd.to_datetime(combined['Date'])

In [54]:
combined = combined.drop_duplicates(subset='Date', keep="first")

In [69]:
tz_md = pytz.timezone('Europe/Madrid') 
date_str = datetime.now(tz_md).strftime("%Y%m%d")
print("Madrid date:", date_str)

Madrid date: 20210102

In [70]:
combined.to_csv('output' + date_str + '.csv', index=False)